@model SfoApp.Models.Elev

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Elev</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skole.SkoleNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skole.SkoleNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etternavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trinn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trinn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ElevId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
