@model SfoApp.Models.Ansatt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ansatt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skole.SkoleNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skole.SkoleNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etternavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etternavn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnsattId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
