@model IEnumerable<SfoApp.Models.Ansatt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skole.SkoleNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etternavn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Skole.SkoleNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fornavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etternavn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnsattId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnsattId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnsattId })
        </td>
    </tr>
}

</table>
